<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">E-mail</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{email}}</td>
            <td>
                <div class="row">
                    <div class="col-2">
                        <a href="/users/show/{{id}}" class="btn btn-outline-info">Show</a>
                    </div>
                    <div class="col-2">
                        <a href="/users/delete/{{id}}" data-confirm="Are you sure?" id="btn-delete" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {{/each}}

    </tbody>
</table>