<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Tittle</th>
        <th scope="col">Content</th>
        <th scope="col">User</th>
        <th scope="col">Subject</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each topics}}
        <tr>
            <td>{{tittle}}</td>
            <td>{{content}}</td>
            <td>{{user}}</td>
            <td>{{subject}}</td>
            <td>
                <div class="row">
                    <div class="col-2">
                        <a href="/users/edit/{{id}}" class="btn btn-outline-success">Edit</a>
                    </div>
                    <div class="col-2">
                        <a href="/users/show/{{id}}" class="btn btn-outline-info">Show</a>
                    </div>
                    <div class="col-2">
                        <a href="/users/delete/{{id}}" data-confirm="Are you sure?" id="btn-delete" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {{/each}}

    </tbody>
</table>